#body{
    background-color:white;
    align-content: center;
    border-color:#101010;
    width:100%;
    height:300px;
}

#wrapper {
    background-image: url(../images/playerbackground.jpg);
    background-size: 590px; 
    border-radius:5px;
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 590px; /* 2 */
    padding-right: 30px; /* 3 */
    padding-left:  30px; /* 3 */
    padding-top: 30px; /* 3 */
    padding-bottom:  30px; /* 3 */

}

.flex-container {
    align-content: center;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    
}

.flex-item1 {
    background-color:none;
    -webkit-align-self: baseline;
    align-self: baseline;
    -webkit-flex: 2;
}

.flex-item2 {
    background-color:none;
    -webkit-align-self: right;
    align-self: right; 
}

.flex-item3 {
    background-color:none;
    -webkit-align-self: baseline;
    align-self: baseline;
    -webkit-flex: 2;
    padding-left: 475px;
    padding-top: 220px;
    padding-bottom:25px;
}

#playButton{
    background-color:rgb(250,250,250);
    border-radius:32px;
    height:32px;
    width:32px;
    background-image:url(../images/playbutton.png);
    background-repeat:no-repeat;
    background-position:center;
}

#pauseButton{
    background-color:rgb(250,250,250);
    border-radius:32px;
    height:32px;
    width:32px;
    background-image:url(../images/pausebutton.png);
    background-repeat:no-repeat;
    background-position:center;
}

#prevButton{
    background-color:rgb(250,250,250);
    border-radius:32px;
    height:32px;
    width:32px;
    background-image:url(../images/prevbutton.png);
    background-repeat:no-repeat;
    background-position:center;
}

#nextButton{
    background-color:rgb(250,250,250);
    border-radius:32px;
    height:32px;
    width:32px;
    background-image:url(../images/nextbutton.png);
    background-repeat:no-repeat;
    background-position:center;
}

#knob{
    background-color:rgb(250,250,250);
    border-radius:150px;
    height:150px;
    width:150px;
    background-image:url(../images/metalknob.jpg);
    background-repeat:no-repeat;
    background-position:center;
}

#speaker{
    background-color:rgb(250,250,250);
    border-radius:500px;
    height:205px;
    width:205px;
    background-image:url(../images/speaker.png);
    background-repeat:no-repeat;
    background-position:center;
}

.play{background: url('../images/playbutton.png') no-repeat;}
.pause{background: url('../images/pausebutton.png') no-repeat;}
.prev{background: url('../images/prevbutton.png') no-repeat;}
.next{background: url('../images/nextbutton2.png') no-repeat;}
.speaker{background: url('../images/speaker.png') no-repeat;}





